@import "modules/AccountMultiselect/style.css";

html {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
}

button[name=fetch], button[name=clear] {
    display: none;
}

account-multiselect {
    display: block;
    width: 380px;
}