#graph-container {
  height: 800px;
  width: 100%;
  display: none;
}

#loadbar {
  visibility:hidden;
  margin-top: 20px;
}

#btn_load, #btn_clr {
 display:none; 
}

.button {
 margin-right: .5rem; 
}