account-item {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    column-gap: 0.625rem;
    padding: 1rem;
    background-color: rgb(68, 75, 93);
    font-size: 0.875rem;
}

account-item[data-focused=true] {
    background-color: rgb(38, 39, 128);
}

account-item img {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 4px;
    object-fit: cover;
    justify-self: center;
}

account-item article {
    grid-column: 2;
}

account-item p {
    margin: 0;
    color: rgb(155, 174, 200);
}

account-item bdi {
    color: white;
}

account-item[aria-selected=true]::after {
    content: "✓";
    color: white;
    grid-column: 3;
    font-size: 1.5rem;
    font-weight: bold;
}